{% extends 'base3.html' %}

{% block content %}
{% load custom_filter %}
<div >
 <div  class="card mx-auto mb-10" id={{order.id}}  style="width: 25rem;">
    <img width="300" height="300"  class="card-img-top" src="{{order.product.image.url}}" alt="">
    <table>
    
        <tr>
          <th>Product</th>
          <td>{{order.product.name}}</td>
        </tr>
        <tr>
        
          <th>Date</th>
          <td>{{order.date}}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{order.price|currency}}</td>
          </tr>
          <tr>
            <th>Quantity</th>
            <td>{{order.quantity}}</td>
          </tr>
          <tr>
            <th>Total</th>
            <td>{{order.quantity|multiply:order.price|currency}}</td>
        </tr>
        <tr>
            <th>Current Status</th>
            <td>{{order.order_status}}</td>
        </tr>
        <tr>
          <th>Update Status</th>
          <td> <form action="/view_order" method="POST">
            {% csrf_token %}
            <select id="order_status" name="order_status">
              <option value="Order Placed">Order Placed</option>
              <option value="Order Dispatched">Order Dispatched</option>
              <option value="In transit">In transit</option>
              <option value="Delivered">Delivered</option>
            </select>
            <input hidden type="text" name="order" value='{{order.id}}'>
            <input type="submit" value="Update">
          </form>
        </td>
        </tr>
       
        <tr>
            <th>Customer name</th>
            <td>{{order.customer.first_name}}</td>
          </tr>
        <tr>
            <th>Address</th>
            <td>{{order.address}}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{order.phone}}</td>
        </tr>
    
        <tr>
          <th>Mode of order</th>
          <td>{{order.mode}}</td>
      </tr>
      <tr>
        <th>Feedback</th>
        <td>{{order.feedback}}</td>
    </tr>
        
    
      </table>
    

</div>
    


</div>



{% endblock %}