{% extends 'base2.html' %}

{% block content %}
<h1>Dashboard</h1>
<div class="container-fluid mt-4">
  <div class="row">
    <!--filter-->

    {% load custom_filter %}
    <div class="container">
       <div class="border rounded p-4 m-4">
            <p class="display-4 pl-4 ml-4" style="color: white;">Your Orders</p>
            <hr>
            <table class="table">
                <thead>
                    <tr>
                        <th style="color: white;">Sno.</th>
                        <th style="color: white;">Image</th>
                        <th style="color: white;">Product</th>
                        <th style="color: white;">Date</th>
                        <th style="color: white;">Price</th>
                        <th style="color: white;">Quantity</th>
                        <th style="color: white;">Total</th>
                        <th style="color: white;">Customer name</th>
                        <th style="color: white;">Mode</th>
                        <th style="color: white;">Status</th>
                        <th style="color: white;">View Order Details</th>
                    </tr>
                </thead>
                <tbody>

                    {% for order in orders %}
                    <tr>
                        <td style="color: white;">{{forloop.counter}}</td>
                        <td style="color: white;"><img style="height: 80px;" class="rounded-circle" src="{{order.product.image.url}}" alt=""></td>
                        <td style="color: white;">{{order.product.name}}</td>
                        <td style="color: white;">{{order.date}}</td>
                        <td style="color: white;">{{order.price|currency}}</td>
                        <td style="color: white;">{{order.quantity}}</td>
                        <td style="color: white;">{{order.quantity|multiply:order.price|currency}}</td>
                        <td style="color: white;">{{order.customer.first_name}}</td>
                        <td style="color: white;">{{order.mode}}</td>
                        <td style="color: white;">{{order.order_status}}</td>
                        <td>
                            <form action="/view_order" method="GET">
                                {% csrf_token %}
                                <input hidden type="text" name="order" value='{{order.id}}'>
                                <input type="submit" class="btn btn-dark" value="View">
                              </form>

                        </td>
                    </tr>

                    {% endfor %}

                </tbody>

            </table>

       </div>
    </div>

{% endblock %}
